.ChampionContentContainer {
    display: flex;
    justify-content: space-between;
}

.blueTeamPicks {
    height: 965px;
    width: 22%;
    background: rgba(23, 19, 31, 0.6);
    margin-left: 2px;
}

.redTeamPicks {
    height: 965px;
    width: 22%;
    background: rgba(23, 19, 31, 0.6);
}

.championSplash {
    position: relative;
    width: 100%;
    color: white;
    font-size: 25px;
    height: 199px;
    /*border-bottom: 1px solid rgba(210 , 210 , 210 , 0.1);*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center;*/
}


.championSplash:not(:last-child) {
    border-bottom: 1px solid rgba(210 , 210 , 210 , 0.1);
}


.championName {
    font-family: "Montserrat" , serif;
    letter-spacing: 1px;
    font-size: 23px;
    position: absolute;
    top: 10px;
    right: 10px;
}

