.bannedChampionsContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px 0;
}



.bannedChampionContainer {
    display: flex;
    height: 200px;
    width: 40%;
    margin-left: 15px;
}

.bannedChampion {
    width: 120px;
    height: 100%;
    border-right: 1px solid rgba(210 , 210 , 210 , 0);
}


.blueSideBansContainer {
    display: flex;
    background: rgba(23, 19, 31, 0.9);
    height: 175px;
    width: 25%;
    margin-left: 15px;
}


.blueSideBansFirstPhaseContainer {
    display: flex;
    padding-right: 15px;
}


.blueSideBansSecondPhaseContainer {
    display: flex;
}

.blueSideBans {
    width: 120px;
}


.redSideBansContainer {
    display: flex;
    background: rgba(23, 19, 31, 0.9);
    height: 175px;
    width: 25%;
    margin-right: 15px;
}


.redSideBansFirstPhaseContainer {
    display: flex;
    /*padding-right: 5px;*/
}


.redSideBansSecondPhaseContainer {
    display: flex;
}

.redSideBans {
    width: 120px;
}
