.headerContainer {
    display: flex;
    justify-content: space-between;
}

.timerContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 10%;
}

.timerContainer span {
    color: white;
    font-size: 20px;
    font-family: "Montserrat Light", serif;
}


.timer {
    text-align: center;
    font-size: 35px;
    color: white;
    letter-spacing: 2px;
    font-family: "Montserrat Light", serif;
}

.blueTeamContainer {
    color: black;
    background: rgb(89,68,221);
    background: linear-gradient(106deg, rgba(89,69,221,1) 0%, rgba(92,72,229,1) 50%, rgba(111,107,246,1) 100%);
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0 50px;
    font-family: "Montserrat ExtraBold", serif;
}



.blueTeamName {
    font-size: 65px;
    letter-spacing: 2px;
    padding-right: 25px;
}

.blueTeamLogo {
    padding-top: 10px;
    width: 120px;
}

.blueTeamScore {
    font-size: 65px;
    font-family: "Montserrat SemiBold" , serif;
}

.redTeamContainer {
    color: black;
    background: rgb(245,100,77);
    background: linear-gradient(106deg, rgba(245,100,77,1) 0%, rgba(249,66,74,1) 50%, rgba(247,50,60,1) 100%);
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0 50px;
    font-family: "Montserrat ExtraBold", serif;
}


.redTeamName {
    font-size: 65px;
    letter-spacing: 2px;
    padding-left: 110px;
}

.redTeamLogo {
    width: 120px;
}

.redTeamScore {
    font-size: 65px;
    font-family: "Montserrat SemiBold" , serif;
}